.formola {
  width: 35%;
  height: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.calculator-header {
  width: 35%;
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
